.SearchBar {
  margin: 20px;
  width : 400px;
  height : 20px;
}

.ip2 {
    margin: 20px;
    border-radius: 10px;
    border: 1px solid black;
    padding: 20px; 
    width: 400px;
    height: 10px;    
}

 input[type=text]:focus {
      border: 1px solid green;
      outline: none;
     }

.gallery{
    float: left;
    width: 60%;
    margin: 1%;
}
.gallery p {
    word-break: break-all;
}