.Pill {
  display: flex;
  align-items: center;
  border-radius: 10px;
  margin-right: 5px;
  padding: 2px 5px;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 500;
}

.Pill:last-child {
  margin-right: 0;
}
