table {
    display:flex;
    flex-wrap: nowrap;
    
    border-spacing: 0;
    /* border: 1px solid black;  */
}
    tr:last-child {
        border-bottom: 0;      
    }

    td {
      margin: 0;
      padding: 0.5rem;
     /*  border-bottom: .25px solid black; */
     /*  border-right: 1px solid black; */

    
    }
    tbody {
       align-self: center; 
    }  

  .pagination {
    padding: 0.5rem;
  }
